.env
firebase.js
cornell-pickup-firebase-adminsdk-35pej-4859c3b754.json

node_modules/
.expo/
.expo-shared
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store